.App {
  text-align: center;
  background-color: black;
}


.container{
height: 40%;
width: 40%;
margin: 30px 20px 20px 25%;
border: 1px solid black;
color: rgb(226, 213, 215);
background-color: black;
}


.logo{
  height: 40%;
width: 30%;
margin: 25px 40%;
color: rgb(119, 66, 75);
}
.span{
  margin: 10px 30%;
  color: blue;

}
.display h1{
  height: 40%;
  width: 30%;
margin: 30px 30px;
  color: rgb(119, 66, 75);

}

button{
  border: black;
  width: 60px;
  height: 40px;
  margin: 20px;
  border-radius: 15px;
  color: black;
}